<!-- Beta Banner -->
<section aria-label="Beta Warning Banner" class="bg-yellow-400 px-4 py-2">
  <p class="text-center text-sm font-semibold">
    Seymour is a buggy mess!
    <a href="https://github.com/abobrien/seymour/issues" target="_blank" class="underline">
      Report an issue.
    </a>
  </p>
</section>