<!-- Footer -->
<footer aria-label="Site Header" class="fixed bottom-0 w-screen">
  <hr>
  <div class="h-10 text-center py-1">
    <div class="text-transparent text-lg bg-clip-text bg-gradient-to-r from-emerald-300 to-emerald-600 pb-2"
      style="font-family: Pacifico;">Seymour</div>
  </div>
</footer>